

body{
    background-image: url("/images/back.jpg");
    background-size: 100%;
    background-size: cover;
    transition: 2s;
}
html{
    width: 100%;
    height: 100%;
}

.bu105{
    display: none;
}

.mobile{
    display: none;
}

.mobile_menu_back{
    display: none;
}

.mobile_menu{
    display: none;
}

.img1{
    max-width: 12.5vw;
    margin-top: 12px;
    margin-left: 1.27vw;
}

.img2{
    max-width: 1.8vw;
    margin-left: 0.14vw;
    margin-top: 0.43vw;
}

.img3{
    max-width: 2.4vw;
    margin-top: 0.26vw;
}

.img4{
    max-width: 3vw;
    float: right;
    margin-top: 1vw;
    margin-right: 1.3vw;
}

.img5{
    max-width: 1.8vw;
    margin-left: -0.39vw;
    margin-top: -0.1vw;
}

.img11{
    width: 23vw;
    height: 30.2vh;
    border-radius: 0.7vw;
}

.img12{
    width: 23vw;
    height: 30.2vh;
    border-radius: 0.7vw;
}



.settings_{
    background-color: cadetblue;
    width: 3vw;
    height: 3vw;
    border-radius: 45px;
    float: right;
    background-color: #F2F5FD;
    flex-direction: column;
    display: flex;
    align-items: center;
    border: none;
    margin-top: 1vw;
    transition: 2s;
}


.body_{
    width: 96vw;
    height: 84.5vh;
    margin: auto;
}

.left_tab{
    margin-top: 0.6vw;
    width: 15vw;
    height: 84.5vh;
    background-color: #2D53DA;
    border-radius: 0.78vw;
    position: relative;
    transition: 2s;
}

.bottom_little_tab_0{
    position: absolute;
    bottom: 0px;
    height: 9vw;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: 2s;
}

.bottom_little_tab{
    background-color: #3E65F2;
    width: 13vw;
    height: 8vw;
    border-radius: 0.7vw;
    position: absolute;
    bottom: 0px;
    margin-bottom: 1vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    transition: 2s;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.p1{
    margin: 0px;
    padding-top: 19px;
    padding-left: 1.6vw;
    font-size:  1.3vw;
    color: white;
    transition: 2s;
}

.p2{
    margin: 0px;
    padding-left: 1.6vw;
    font-size:  1.8vw;
    color: white;
    font-weight: bold;
    transition: 2s;
}

.p3{
    width: 11vw;
    height: 2.8vw;
    font-size:  1vw;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: 2s;
}

.p4{
    float: right;
    font-size:  2vw;
    color: black;
    font-weight: bold;
    margin-top: 1.3vw;
    margin-bottom: 0px;
    margin-right: 9.25vw;
    transition: 2s;
}

.p5{
    margin-bottom: 0px;
    margin-top: 1.5vw;
    font-size:  2vw;
    color: black;
    font-weight: bold;
    transition: 2s;
}

.p6{
    margin: 0.7vw;
    font-size:  1.3vw;
    color: black;
    font-weight: bold;
    transition: 2s;
}

.all_bu{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

button{
    cursor: pointer;
}

.bu1{
    margin-top: 3vw;
    width: 13vw;
    height: 3vw;
    border-radius: 0.7vw;
    background-color: white;
    color: #616161;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
}



.bu2{
    margin-top: 0.8vw;
    width: 13vw;
    height: 3vw;
    border-radius: 0.7vw;
    background-color: #2D53DA;
    color: white;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
}

.bu3{
    margin-top: 0.8vw;
    width: 13vw;
    height: 3vw;
    border-radius: 0.7vw;
    background-color: #2D53DA;
    color: white;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
}

.bu4{
    position: absolute;
    bottom: 0px;
    width: 11.2vw;
    height: 2.6vw;
    border-radius: 0.7vw;
    background-color: #1DCEF5;
    color: white;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    margin-bottom: 0.9vw;
    transition: 2s;
}

.bu5{
    width: 11.2vw;
    height: 2.6vw;
    border-radius: 0.7vw;
    background-color: #616161;
    color: white;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    margin-top: 3.6vw;
    transition: 2s;
}

.bu6{
    width: 11.2vw;
    height: 2.6vw;
    border-radius: 0.7vw;
    background-color: white;
    color: #616161;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    margin-top: 1vw;
    transition: 2s;
}

.bu7{
    width: 11.2vw;
    height: 2.6vw;
    border-radius: 0.7vw;
    background-color: #2D53DA;
    color: white;
    border: none;
    font-size: 1.1vw;
    font-weight: bold;
    margin-top: 1vw;
    border: 2px solid white;
    transition: 2s;
}

.bu8{
    position: absolute;
    right: 0px;
    margin-right: 0.5vw;
    margin-top: 0.7vw;
    width: 2vw;
    height: 2vw;
    background-color: #2D53DA;
    border: none;
    transition: 2s;
}

.buttt{
    width: 23vw;
}

.bu11{
    margin-top: 0.7vw;
    width: 9vw;
    height: 2.4vw;
    border-radius: 0.5vw;
    background-color: transparent;
    color: #476BEE;
    border: 3px solid #476BEE;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;

}

.bu12{
    margin-top: 0.7vw;
    width: 9vw;
    height: 2.4vw;
    border-radius: 0.5vw;
    background-color: transparent;
    color: #476BEE;
    border: 3px solid #476BEE;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
    float: right;

    
}

.bu11:hover{
    transition: 0.4s;
    background-color: #2D53DA;
    color: #F2F5FD;
}

.bu12:hover{
    transition: 0.4s;
    background-color: #2D53DA;
    color: #F2F5FD;
}

.bu5:hover{
    transition: 0.4s;
    border: 2px solid white;
}

.bu6:hover{
    transition: 0.4s;
    border: 2px solid #616161;
}

.bu7:hover{
    transition: 0.4s;
    background-color: white;
    color: #616161;
}

.bu4:hover{
    transition: 0.4s;
    background-color: white;
    color: #616161;
}

.bu1:hover{
    transition: 0.4s;
    background-color: white;
    color: #616161;
}

.bu2:hover{
    transition: 0.4s;
    background-color: white;
    color: #616161;
}

.bu3:hover{
    transition: 0.4s;
    background-color: white;
    color: #616161;
}

.notifications{
    width: 3vw;
    height: 3vw;
    border-radius: 45px;
    float: right;
    background-color: #F2F5FD;
    flex-direction: column;
    display: flex;
    align-items: center;
    border: none;
    transition: 2s;
}

.notifications:hover{
    transition: 0.4s;
    background-color: rgb(152, 176, 204);

}

.settings_:hover{
    transition: 0.4s;
    background-color: rgb(152, 176, 204);

}

.input1{
    float: left;
    width: 20vw;
    height: 2.90vw;
    background-color: #F2F5FD;
    border: none;
    border-radius: 0.7vw;
    outline: none;
    transition: 2s;
}

.right_tab{
    float: right;
    margin-top: 0px;
    height: 100%;
    position: relative;
    transition: 2s;
}

.tab{
    background-color: #F2F5FD;
    float: right;
    margin-top: 2vw;
    width: 25.3vw;
    height: 51vh;
    border-radius: 0.7vw;
    transition: 2s;
}

.tab2{
    background-color: #F2F5FD;
    float: right;
    margin-top: 2vw;
    width: 25.3vw;
    height: 19.38vh;
    position: absolute;
    bottom: 0px;
    border-radius: 0.7vw;
    transition: 2s;
}

.tab3{
    width: 51.8vw;
    height: 44vh;
    display: flex;
    justify-content: space-between;
    transition: 2s;
    position: absolute;
    bottom: 0px;
    
}

.tab4{
    
    width: 52vw ;
    height: 36vh;
    border-radius: 0.7vw;
    background-color: white;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
}
.center_div{
    width: 52vw;
    height: calc(66vh - 30vh);
    position:relative;    
}
.key{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.1rem;
}

.center_div span::after {
content: "";
display: inline-block;
width: 0.6rem;
height: 0.6rem;
border-radius: 25%;
font-weight: 700;
background: currentColor;
margin: 0 0.5rem;
}
.pie-chart{
    background: radial-gradient(circle closest-side , transparent 100%, #fff 0),conic-gradient(from 180deg,
    
    #1DCEF5 0,
    #1DCEF5 69%,
    #2D53DA 0,
    #2D53DA 100%
 
    );
    
     height: 19vh;
 }
.center_div h2{
    padding: 2px 0 20px 20px;
}
.tab5{
    width: 51.8vw;
    transition: 2s;
}

.head{
    width: 96vw;
    margin:auto;
}

.rate{
    width: 24vw;
    height: 37vh;
}
.midle_tab{
    width: 55.4vw;
    height: 100%;
    float: right;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: 2s;
}

.plate1{
    width: 25vw;
    height: 75%;
    background-color: #F2F5FD;
    border-radius: 0.7vw;
    transition: 2s;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    margin: 5vw 0;
}

.plate2{
    width: 25vw;
    height: 75%;
    background-color: #F2F5FD;
    border-radius: 0.7vw;
    transition: 2s;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5vw 0;
}

.menu_tab{
    flex-direction: column;
    display: flex;
    align-items: center;
    display: none;
    position: relative;
    transition: 2s;
}

.classs{
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: 2s;
    position: absolute;
    right: 6vw;
    top: 2vw;
    background-color: #2D53DA;
    border-radius: 0.7vw;
    width: 15vw;
    height: 17vw;
}

.classs_close{
    display: none;
}

.names{
    margin-left: 0.7vw;
    width: 49.5vw;
    height: 1.7vw;
    display: flex;
    justify-content: space-around;
    transition: 2s;
    
}

.images{
    width: 100%;
    height: 10.8vw;
    display: flex;
    justify-content: space-evenly;
    transition: 2s;
}

.p100{
    margin: 0px;
    font-size:  1.3vw;
    color: white;
    font-weight: bold;
    transition: 2s;
    transition: 2s;
}

.all_dd{
    width: 8.8vw;
    background-color: white;
    border-radius: 0.7vw;
    margin-bottom: 0.6vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: 2s;
}

.food{
    margin-top: 0.2vw;
    width: 8vw;
    height: 4.9vw;
    border-radius: 0.7vw;
    transition: 2s;
}

.tab{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.div_rate{
    width: 21.5vw;
    height: 8vh;
    margin-top: 0.55vw;
    position: relative;
}

.p14{
    margin: 0px;
    margin-top: 0.7vw;
    font-size:  1.3vw;
    color: black;
    font-weight: bold;
    transition: 2s;
}

.p15{
    margin: 30px;
    margin-top: 0.7vw;
    font-size:  1.3vw;
    color: black;
    font-weight: bold;
    transition: 2s;
}
.recomendation{
    border-radius: 0.6vw;
    width: 22vw;
    height: 6vw;
    background-color: rgb(209, 209, 209);
    margin: -1vw 1vw;
}
textarea{
    margin: -2vw 1vw;
    background-color: #F2F5FD;
}
.submit{
    margin: 1vw 8vw;
    width: 9vw;
    height: 2.4vw;
    border-radius: 0.5vw;
    color: #476BEE;
    border: 3px solid #476BEE;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
}

.submit:hover{
    transition: 0.4s;
    background-color: #2D53DA;
    color: #F2F5FD;
}
    


.img20{
    height: 100%;
    width: 4vw;
    border-radius: 0.6vw;
}

.div_rate_0{
    width: 21.5vw;
    height: 8vh;
    margin-top: 0.2vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.show_more{
    margin-top: 0.5vw;
    width: 9vw;
    height: 2.4vw;
    border-radius: 0.5vw;
    background-color: transparent;
    color: #476BEE;
    border: 3px solid #476BEE;
    font-size: 1.1vw;
    font-weight: bold;
    transition: 0.7s;
    float: right;
}

.p101{
    font-size:  1.3vw;
    color: black;
    margin-top: -3.9vw;
    font-weight: bold;
    margin-left: 6.4vw;
    transition: 2s;
}

.img21{
    float: right;
    max-width: 1.5vw;
    margin-top: 1.2vw;
}

.img22{
    max-width: 8.5vw;
    position: absolute;
    bottom: 0px;
    left: 6.2vw;
}

.show_more:hover{
    transition: 0.4s;
    background-color: #2D53DA;
    color: #F2F5FD;
}

.inp_img{
    max-width: 1vw;
}



@media screen and (max-width: 700px) {


    .mobile{
        display: block;
    }

    .settings_{
        display: none;

    }

    .p4{
        display: none;
    }


    .img4{
        display: none;
    }

    .input1{
        display: none;
    }


    .input2{
        width: 60vw;
        height: 4vh;
        border-radius: 1vw;
        margin-top: 7vw;
        
    }
    
    .right_tab{
        display: none;
    }

    .midle_tab{
        display: none;
    }

    .left_tab{
        display: none;
    }



    .img1{
        max-width: 33vw;
        margin-left: 4vw;
    }

    .img105{
        max-width: 9vw;
        
    }

    .bu105{
        border: none;
        display: block;
        max-width: 10vw;
        float: right;;
        margin-right: 5vw;
        margin-top: 3vw;
        background-color: transparent;
    }

    .body_{
        width: 89vw;
        height: auto;
    }

    .mobile{
        width: 100%;
        height: 100%;
        

    }

    .div8{
        display: flex;
        justify-content: center;
    }

    .p201{
        margin-top: 4vw;
        font-size: 3vw;
        margin-left: 5vw;
        margin-bottom: 0px;
    }

    .p202{
        font-size: 4vw;
        margin: 0px;
        margin-left: 5vw;
    }

    .p203{
        font-size: 5vw;
        margin: 0px;
        margin-left: 5vw;
        margin-bottom: 5vw;
    }

    .tab3{
        margin-top: 2vw;
        width: 100%;
        height: 50vw;
    }

    

    .img11{
        width: 40vw;
        height: 34vw;
    }

    
    .img12{
        width: 40vw;
        height: 34vw;
    }

    .p6{
        font-size: 3vw;
    }

    .plate2{
        width: 43vw;
        height: 45.5vw;
    }

    .plate1{
        width: 43vw;
        height: 45.5vw;
    }

    .bu11{
        width: 17vw;
        height: 5vw;
        font-size: 2.5vw;
    }

    .bu12{
        width: 17vw;
        height: 5vw;
        font-size: 2.5vw;
    }

    .buttt{
        width: 40vw;
    }

    .tab4{
        position: relative;
        width: 100%;
        height: 30vw;
        margin-top: 2vw;
        
    }

    .names{
        height: 5vw;
        width: 86vw;
    }

    .food{
        margin-top: 1vw;
        width: 13vw;
        height: 10vw;
    }

    .p100{
        font-size: 3vw;
    }

    .all_dd{
        width: 15vw;
        height: 23vw;
    }

    .images{
        height: 20vw;
    }
    
    .black{
        width: 100%;
        height: 25vw;
        background-color: black;
        margin-top: 6vw;
        position: relative;
    }

    .p206{
        position: absolute;
        color: white;
        font-size: 3vw;
        margin-left: 3vw;
        margin-top: 5vw;
    }

    .last_bu{
        position: absolute;
        right: 3vw;
        top: 5vw;
        background-color: transparent;
        color: white;
        border-radius: 0.7vw;
        border: 0.3vw solid white;
    }

    .mobile_menu{
        position: absolute;
        width: 77vw;
        height: 100%;
        background-color: #2D53DA;
        right: 0px;
        top: 0px;
    }

    .mobile_menu_back{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        right: 0px;
        top: 0px;
    }

    .bu8{
        width: 10vw;
        height: 10vw;
        margin-right: 2vw;
        margin-top: 2vw;
    }

    .img5{
        max-width: 8vw;
    }

    .bu5{
        margin-top: 56vw;
        width: 60vw;
        height: 12vw;
        font-size: 4vw;
        border-radius: 1.3vw;
    }

    .bu6{
        margin-top: 2vw;
        width: 60vw;
        height: 12vw;
        font-size: 4vw;
        border-radius: 1.3vw;
    }

    .bu7{
        margin-top: 2vw;
        width: 60vw;
        height: 12vw;
        font-size: 4vw;
        border-radius: 1.3vw;
    }

    .mobile_menu_back{
        display: none;
    }

    .mobile_menu{
        display: none;
    }

    .div_for_b{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}