body
{
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Segoe UI ;
}
.image img
{
    width: 40vw;
    height: 80vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10vh; 
}
.formulaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40vw;
    height: 80vh;
}
.formulaire img
{
    width: 100px;
    margin-top: 20px;
}
form
{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
input
{
    width: 25vw;
    height: 5vh;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 5px;
}
label
{
    color : #757474 ;
    font-size: 14px;
}
#forgoten 
{
    text-decoration: none;
    color: #0900FF;
}
#forgoten:hover
{
    text-decoration: underline;
    color: #0900FF;
}
button
{
    width: 8vw;
    height: 5vh;
    border: 2px solid #0900FF;
    border-radius: 15px;
    color: #0900FF;
    font-size: 15px;
    background-color: white;
    margin-bottom: 40px;
}
button:hover
{
    color: white;
    background-color: #0900FF;
}
#powered
{
    color : #949494;
}
@media screen and (max-width : 770px)
{
body
{
    font-family: Segoe UI ;
    background: none;
}
.image img
{
    display: none;
}
section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh;
}
.formulaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40vw;
    height: 80vh;
}
.formulaire img
{
    width: 100px;
    margin-top: 20px;
}
form
{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
input
{
    width: 70vw;
    height: 5vh;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 5px;
}
label
{
    color : #757474 ;
    font-size: 14px;
}
#forgoten 
{
    text-decoration: none;
    color: #0900FF;
}
#forgoten:hover
{
    text-decoration: underline;
    color: #0900FF;
}
button
{
    width: 20vw;
    height: 6vh;
    border: 2px solid #0900FF;
    border-radius: 20px;
    color: #0900FF;
    font-size: 15px;
    background-color: white;
    margin-bottom: 0px;
}
button:hover
{
    color: white;
    background-color: #0900FF;
}
#powered
{
    display: flex;
    justify-content: center;
    color : white;
    background-color: black;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0px;
}
}